<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eSafe</title>
    <link href="~/Content/jquery.formstyler.css" rel="stylesheet" />
    <link href="~/Content/jquery.formstyler.theme.css" rel="stylesheet" />
    <link href="~/Content/index.css" rel="stylesheet">
    <link href="~/Content/analytics.css" rel="stylesheet">
    <link href="~/Content/ways.css" rel="stylesheet">
    <link href="~/Content/incidents.css" rel="stylesheet" />
    <script src="~/Content/jquery-3.3.1.min.js"></script>
    <script src="~/Content/jquery.formstyler.js"></script>
    @Styles.Render("~/Content/css")
    <script>
        (function ($) {
            $(function () {
                $('#styled-select select').styler({
                    selectSearch: true,
                });
            });
        })(jQuery);
    </script>
    <script src="~/Content/main.js"></script>
</head>
<body>
    <div id="full-body">
        <div id="header">
            <table id="logo">
                <tr>
                    <td>
                        <img src="img/logo.png"><br>
                        Мониторинг и позиционирование персонала
                        <div id="styled-select">
                            <select>
                                <option value="ru">РУС</option>
                                <option value="en">Eng</option>
                                <option value="kz">Kz</option>
                            </select>
                        </div>
                    </td>
                </tr>
            </table>
            <table id="calendar">
                <tr>
                    <td>
                        <img src="img/calendar.png">
                    </td>
                    <td>
                        <div class="top-calendar">
                            10.10.2018
                        </div>
                        <div class="bottom-calendar">
                            c 00:00:00 по 16.43.55
                        </div>
                    </td>
                </tr>
            </table>
            <table id="user">
                <tr>
                    <td>
                        <img src="img/user.png">
                    </td>
                    <td>
                        <div class="top-user">
                            Пользователь:
                        </div>
                        <div class="bottom-user">
                            Константин Константиновский
                        </div>
                    </td>
                </tr>
            </table>
            <table id="logo2">
                <tr>
                    <td id="logo2-title">
                        Соколовско-Сарбайское<br>
                        горно-обогатительное <br>
                        производственное объединение
                    </td>
                    <td id="logo2-img">
                        <div id="logo-img-2"><img src="img/logo2.png"></div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="nav-dot">
            @ViewBag.Title
        </div>
        <div id="main-block-line">
            <div id="aside-left">
                <a href="index">
                    <div class="nav-item @ViewBag.IndexActive">
                        <div class="nav-img"><img class="img-1" src="img/img-1.png"> <img class="img-2" src="img/img-1-white.png"></div>
                        <div class="nav-title">главная</div>
                    </div>
                </a>
                <a href="analytics">
                    <div class="nav-item @ViewBag.AnalyticActive">
                        <div class="nav-img"><img class="img-1" src="img/img-2.png"> <img class="img-2" src="img/img-2-white.png"></div>
                        <div class="nav-title">аналитика</div>
                    </div>
                </a>
                <a href="ways">
                    <div class="nav-item">
                        <div class="nav-img @ViewBag.WaysActive"><img src="img/img-3.png"></div>
                        <div class="nav-title">маршруты</div>
                    </div>
                </a>
                <a href="incidents">
                    <div class="nav-item">
                        <div class="nav-img @ViewBag.IncidentsActive"><img src="img/img-4.png"></div>
                        <div class="nav-title">инциденты тб</div>
                    </div>
                </a>
                    <div class="nav-item">
                        <div class="nav-img"><img src="img/img-5.png"></div>
                        <div class="nav-title">здоровье</div>
                    </div>
                    <a href="Data">
                        <div class="nav-item @ViewBag.DataActive">
                            <div class="nav-img"><img src="img/img-6.png"></div>
                            <div class="nav-title">отчеты</div>
                        </div>
                    </a>
                    <div class="nav-item">
                        <div class="nav-img"><img src="img/img-7.png"></div>
                        <div class="nav-title">справочники</div>
                    </div>
            </div>
        @RenderBody()
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
</body>
</html>
