<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eSafe</title>

    <script src="~/Content/jquery-3.3.1.min.js"></script>
    <script src="~/Content/jquery.formstyler.js"></script>
    <script src="~/Content/js/moment.min.js"></script>
    <script src="~/Content/js/daterangepicker.js"></script>
    <script>
        (function ($) {
            $(function () {
                $('#styled-select select').styler({
                    selectSearch: true,
                });
            });
        })(jQuery);
    </script>
    <script src="~/Content/main.js"></script>
</head>
<body>
    <div id="full-body">
        <div id="header">
            <table id="logo">
                <tr>
                    <td>
                        <img src="img/logo.png"><br>
                        Мониторинг и позиционирование персонала
                        <div id="styled-select">
                            <select>
                                <option value="ru">РУС</option>
                                <option value="en">Eng</option>
                                <option value="kz">Kz</option>
                            </select>
                        </div>
                    </td>
                </tr>
            </table>
            <table id="calendar">
                <tr>
                    <td>
                        <img src="img/calendar.png">
                    </td>
                    <td>
                        <div class="top-calendar">
                            10.10.2018
                        </div>
                        <div class="bottom-calendar">
                            c 00:00:00 по 16.43.55
                        </div>
                    </td>
                </tr>
            </table>
            <table id="user">
                <tr>
                    <td>
                        <img src="img/user.png">
                    </td>
                    <td>
                        <div class="top-user">
                            Пользователь:
                        </div>
                        <div class="bottom-user">
                            Константин Константиновский
                        </div>
                    </td>
                </tr>
            </table>

            <table id="logo2">
                <tr>
                    <td id="logo2-title">
                        Соколовско-Сарбайское<br>
                        горно-обогатительное <br>
                        производственное объединение
                    </td>
                    <td id="logo2-img">
                        <div id="logo-img-2"><img src="img/logo2.png"></div>
                    </td>
                </tr>
            </table>
            
        </div>
        <div id="nav-dot">
            @ViewBag.Title
            <input type="checkbox" id="refreshcheckbox" style="margin-left: 50px;">Автообновление<br>
        </div>
        <div id="main-block-line">
            <div id="aside-left">
                <a href="index">
                    <div class="nav-item @ViewBag.IndexActive">
                        <div class="nav-img"><img class="img-1" src="img/img-1.png"> <img class="img-2" src="img/img-1-white.png"></div>
                        <div class="nav-title">главная</div>
                    </div>
                </a>
                <a href="analytics">
                    <div class="nav-item @ViewBag.AnalyticActive">
                        <div class="nav-img"><img class="img-1" src="img/img-2.png"> <img class="img-2" src="img/img-2-white.png"></div>
                        <div class="nav-title">аналитика</div>
                    </div>
                </a>
                <a href="ways">
                    <div class="nav-item @ViewBag.WaysActive">
                        <div class="nav-img "><img src="img/img-3.png"></div>
                        <div class="nav-title">маршруты</div>
                    </div>
                </a>
                <a href="incidents">
                    <div class="nav-item  @ViewBag.IncidentsActive">
                        <div class="nav-img"><img src="img/img-4.png"></div>
                        <div class="nav-title">инциденты тб</div>
                    </div>
                </a>
                <a href="health">
                    <div class="nav-item @ViewBag.HealthActive">
                        <div class="nav-img "><img src="img/img-5.png"></div>
                        <div class="nav-title">здоровье</div>
                    </div>
                </a>
                <a href="reports">
                    <div class="nav-item @ViewBag.ReportsActive">
                        <div class="nav-img"><img src="img/img-6.png"></div>
                        <div class="nav-title">отчеты</div>
                    </div>
                </a>
                <a href="sprav">
                    <div class="nav-item @ViewBag.SpravActive">
                        <div class="nav-img"><img src="img/img-7.png"></div>
                        <div class="nav-title">справочники</div>
                    </div>
                </a>
                <a href="#">
                    <div class="nav-item">
                        <div class="nav-img"><img class="img-1" src="img/img-6.png"> <img class="img-2" src="img/img-6.png"></div>
                        <div class="nav-title">доп. инфо</div>
                    </div>
                </a> <div class="logoastra">
                    <img class="logoimg" src="img/logoastra.png">
                    <div class="references">
                        <a href="#">www.atra-group.kz</a>
                        <a href="#">www.bm-tech.kz</a>
                        <a href="#">www.ela.kz</a>
                    </div>
                </div>
            </div>

            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    <script>
        $(document).ready(function () {
            if (getCookie("refreshcheckbox") === "1") {
                $("#refreshcheckbox").prop('checked', true);
                setTimeout(function () {
                    window.location.href = window.location.href;
                }, 60000); // время в мс
            }
        });
        $('#refreshcheckbox').click(function () {
            if (this.checked) {
                setCookie("refreshcheckbox", 1);
                setTimeout(function () {
                    window.location.href = window.location.href;
                }, 60000); // время в мс
            }
            else {
                setCookie("refreshcheckbox", 0);
            }
        }) 

        function setCookie(key, value) {
            var expires = new Date();
            expires.setTime(expires.getTime() + (1 * 24 * 60 * 60 * 1000));
            document.cookie = key + '=' + value + ';expires=' + expires.toUTCString();
        }

        function getCookie(key) {
            var keyValue = document.cookie.match('(^|;) ?' + key + '=([^;]*)(;|$)');
            return keyValue ? keyValue[2] : null;
        }
    </script>

</body>

</html>
