@model BrasletsWeb.Models.HomeModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">

    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Имя</th>
        <th scope="col">Широта</th>
        <th scope="col">Долгота</th>
        <th scope="col">Пульс</th>
        <th scope="col">Шаги</th>
        <th scope="col">SOS</th>
    </tr>
    </thead>

    <tbody>
        @foreach (var braslet in Model.Braslets)
        {
        <tr>
            <th scope="row">1</th>
            <td>@braslet.Name</td>
            <td>@braslet.Latutude</td>
            <td>@braslet.Longitude</td>
            <td>@braslet.Heartbeat</td>
            <td>@braslet.Steps</td>
            <td>@braslet.SosAlarm</td>
        </tr>
        }
        </tbody>
    </table>

    <div id="map"></div>

    <script>
// Initialize and add the map
function initMap() {
  // The location of braslets
        var braslet1 = { lat: @Model.Braslets[0].Latutude, lng: @Model.Braslets[0].Longitude};
        var braslet2 = {lat: @Model.Braslets[1].Latutude, lng: @Model.Braslets[1].Longitude};
  // The map, centered at braslet1
  var map = new google.maps.Map(
      document.getElementById('map'), { zoom: 18, center: braslet1});
  // The marker, positioned at braslet1
    var marker1 = new google.maps.Marker({
        position: braslet1,
        map: map,
        title: '@Model.Braslets[0].Name.Trim()',
        label: '@Model.Braslets[0].Name.Trim()[0]'
    });
    var marker2 = new google.maps.Marker({
        position: braslet2,
        map: map,
        title: '@Model.Braslets[1].Name.Trim()',
        label: '@Model.Braslets[1].Name.Trim()[0]'
    });
}
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9eDB01EtMemNJRHA251bwosnNzlRjKQY&callback=initMap">
    </script>
